@{
    var AssetBase = "/content/gallerycontent/backyard-birdies";
}
<section class="container py-5 my-lg-3 my-xl-4 my-xxl-5">
    <div class="py-2 py-sm-3 py-md-4 my-md-2 my-xxl-3">
        <h2 class="h1 text-center pt-xxl-1">See how the previous event unfolded</h2>
        <p class="fs-lg text-center pb-3 mb-lg-4">Get inspired with a selection of the keynotes about the Conference
            2022</p>
        <div class="gallery row g-3 g-md-4" data-video="true">
            <div class="col-sm-6">
                <div class="row g-3 g-md-4">
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/blabbers_1.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/blabbers_1.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/blabbers_2.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/blabbers_2.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/blabbers_3.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/blabbers_3.jpg" alt="Auditorium"></div>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="row g-3 g-md-4">
                    <div class="col-12">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/myna_3.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/myna_3.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/myna_2.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/myna_2.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/myna_1.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/myna_1.jpg" alt="Auditorium"></div>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="row g-3 g-md-4">
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/myna_4.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/myna_4.jpg" alt="Auditorium"></div>
                        </a>
                    </div>

                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/myna_7.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/myna_7.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/myna_5.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/myna_5.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/myna_6.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/myna_6.jpg" alt="Auditorium"></div>
                        </a>
                    </div>


                </div>
            </div>

            <div class="col-sm-6">
                <div class="row g-3 g-md-4">
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/blabbers_4.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/blabbers_4.jpg" alt="Auditorium"></div>
                        </a>
                    </div>

                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/blabbers_5.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/blabbers_5.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/blabbers_6.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/blabbers_6.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/blabbers_7.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/blabbers_7.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row g-3 g-md-4">
                     <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/bulbul_3.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/bulbul_3.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                   

                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/bulbul_2.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/bulbul_2.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                       <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/bulbul_1.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/bulbul_1.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                   
                     <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/bulbul_4.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/bulbul_4.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                 
                    
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row g-3 g-md-4">

                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect"
                            href="@AssetBase/lossless/spotted_dove_4.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/spotted_dove_4.jpg" alt="Auditorium"></div>
                        </a>
                    </div>

                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect"
                            href="@AssetBase/lossless/spotted_dove_5.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/spotted_dove_5.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect"
                            href="@AssetBase/lossless/spotted_dove_6.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/spotted_dove_6.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect"
                            href="@AssetBase/lossless/spotted_dove_7.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/spotted_dove_7.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row g-3 g-md-4">
                        <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect"
                            href="@AssetBase/lossless/brahminy_starling_2.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/brahminy_starling_2.jpg" alt="Auditorium"></div>
                        </a>
                   
                      
                          <a class="pt-3 gallery-item d-block card-hover zoom-effect"
                            href="@AssetBase/lossless/oriental_magpie.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/oriental_magpie.jpg" alt="Auditorium"></div>
                        </a>
                    </div>

                
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect"
                            href="@AssetBase/lossless/brahminy_starling_1.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/brahminy_starling_1.jpg" alt="Auditorium"></div>
                        </a>
                   
                        <a class="py-4 gallery-item d-block card-hover zoom-effect"
                            href="@AssetBase/lossless/brahminy_starling_3.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/brahminy_starling_3.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                    
                </div>
            </div>

              <div class="col-sm-6">
                <div class="row g-3 g-md-4">
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect"
                            href="@AssetBase/lossless/bulbul_5.jpg"
                            data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div
                                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img"
                                    src="@AssetBase/thumbs/bulbul_5.jpg" alt="Auditorium"></div>
                        </a>
                    </div>

                  
                </div>
            </div>





        </div>

        <div class="text-center pb-lg-2 pb-xl-3 pb-xxl-3 pt-4 pt-md-5 mt-3 mt-md-0"><a
                class="btn btn-lg btn-outline-primary" href="#">See more<i class="ai-image ms-2"></i></a></div>
    </div>
</section>