<section class="container py-5 my-lg-3 my-xl-4 my-xxl-5">
    <div class="py-2 py-sm-3 py-md-4 my-md-2 my-xxl-3">
        <h2 class="h1 text-center pt-xxl-1">See how the previous event unfolded</h2>
        <p class="fs-lg text-center pb-3 mb-lg-4">Get inspired with a selection of the keynotes about the Conference 2022</p>
        <div class="gallery row g-3 g-md-4" data-video="true">
            <div class="col-sm-6">
                <div class="row g-3 g-md-4">
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="/assets/img/landing/conference/gallery/01.jpg" data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img" src="/assets/img/landing/conference/gallery/th01.jpg" alt="Auditorium"></div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="/assets/img/landing/conference/gallery/02.jpg" data-lg-id="a4a9a47d-b467-4ac5-900d-906658aa965a">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img" src="/assets/img/landing/conference/gallery/th02.jpg" alt="Comfortable chairs"></div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="gallery-item d-block card-hover zoom-effect" href="https://www.youtube.com/watch?v=5-A8_ocajCM" data-lg-id="b8d29d1a-a3ff-43d2-8420-537e750e821f">
                            <div class="btn btn-icon btn-lg btn-primary rounded-circle pe-none position-absolute top-50 start-50 translate-middle zindex-3"><i class="ai-play-filled"></i></div>
                            <div class="position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img" src="/assets/img/landing/conference/gallery/th05.jpg" alt="Conferece showreel"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row g-3 g-md-4">
                    <div class="col-6 order-sm-2">
                        <a class="gallery-item d-block card-hover zoom-effect" href="/assets/img/landing/conference/gallery/03.jpg" data-lg-id="f2cfc966-991c-4ca1-b1e8-a764308afa98">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img" src="/assets/img/landing/conference/gallery/th03.jpg" alt="Whiteboard"></div>
                        </a>
                    </div>
                    <div class="col-6 order-sm-3">
                        <a class="gallery-item d-block card-hover zoom-effect" href="/assets/img/landing/conference/gallery/04.jpg" data-lg-id="f26a58f3-f7b2-421e-9777-8035b8b11a90">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img" src="/assets/img/landing/conference/gallery/th04.jpg" alt="Coffee break"></div>
                        </a>
                    </div>
                    <div class="col-12 order-sm-1">
                        <a class="gallery-item d-block card-hover zoom-effect" href="https://www.youtube.com/watch?v=Omr18ybhPKI" data-lg-id="268d0b73-75bb-4313-88ba-9ea226c31e22">
                            <div class="btn btn-icon btn-lg btn-primary rounded-circle pe-none position-absolute top-50 start-50 translate-middle zindex-3"><i class="ai-play-filled"></i></div>
                            <div class="position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4"><img class="zoom-effect-img" src="/assets/img/landing/conference/gallery/th06.jpg" alt="Speaker on stage"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pb-lg-2 pb-xl-3 pb-xxl-3 pt-4 pt-md-5 mt-3 mt-md-0"><a class="btn btn-lg btn-outline-primary" href="#">See more<i class="ai-image ms-2"></i></a></div>
    </div>
</section>