@{
    var AssetBase = "/content/gallerycontent/garden-state";
}
<section class="container py-5 my-lg-3 my-xl-4 my-xxl-5">
    <div class="py-2 py-sm-3 py-md-4 my-md-2 my-xxl-3">
        <h2 class="h1 text-center pt-xxl-1">Garden State</h2>
        <p class="fs-lg text-center pb-3 mb-lg-4">
            Flora from my backyard
        </p>
        <div class="gallery row g-3 g-md-4" data-video="true">
            <div class="col-sm-12">
                <div class="row g-3 g-md-4">
                    <div class="col-3">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_1.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_1.jpg"  
                                     alt="Auditorium"
                                >
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_2.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_2.jpg" 
                                     alt="Auditorium"
                                >
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_3.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_3.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_12.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_12.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="row g-3 g-md-4">
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_4.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_4.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>

                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_5.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_5.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_6.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_6.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                   

                        </div>
            </div>


            <div class="col-sm-6">
                <div class="row g-3 g-md-4">
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_7.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_7.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>

                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_8.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_8.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_9.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_9.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_10.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_10.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_11.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_11.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="row g-3 g-md-4">
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_13.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_13.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>

                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_14.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_14.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_15.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_15.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_16.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_16.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>

                </div>
            </div>


            <div class="col-sm-6">
                <div class="row g-3 g-md-4">
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_17.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_17.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_18.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_18.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_19.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_19.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_21.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_21.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                  
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row g-3 g-md-4">

                    <div class="col-12">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_20.jpg" data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img" src="@AssetBase/thumbs/gstate_20.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                   
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_22.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_22.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_23.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_23.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="gallery-item d-block card-hover zoom-effect" href="@AssetBase/lossless/gstate_23.jpg"
                           data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                            <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                            </div>
                            <div class="zoom-effect-wrapper rounded-4">
                                <img class="zoom-effect-img"
                                     src="@AssetBase/thumbs/gstate_23.jpg" alt="Auditorium">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
         


        </div>

        <div class="text-center pb-lg-2 pb-xl-3 pb-xxl-3 pt-4 pt-md-5 mt-3 mt-md-0">
            <a class="btn btn-lg btn-outline-primary" href="#">See more<i class="ai-image ms-2"></i></a>
        </div>
    </div>
</section>