@{
    ViewData["ActiveCategory"] = "";
    ViewData["ActiveYear"] = "";
    ViewData["ActiveTag"] = "";
    ViewData["ActivePage"] = "Gallery";
}

<section class="container overflow-hidden pt-5 mt-5 pb-5 mb-2 mb-lg-3 mb-xl-4 mb-xxl-5" id="gallery">
    <div class="masonry-filterable">
        <div class="row pb-lg-4 mb-2 mb-sm-3">
            <div class="col-xxl-3 col-lg-4 text-center text-lg-start">
                <h1>Our Projects</h1>
                <p class="mb-4 mb-lg-0">We will put our industry expertise for creativity to work for your project</p>
            </div>
            <div class="col-xxl-9 col-lg-8 d-flex">
                <ul class="masonry-filters nav nav-pills fs-sm flex-nowrap overflow-auto text-nowrap w-100 mx-auto me-lg-0 pb-3" style="max-width: 510px;">
                    <li class="nav-item mb-0"><a class="nav-link border active" href="#" data-group="all">All</a></li>
                    <li class="nav-item mb-0"><a class="nav-link border" href="#" data-group="nature">Nature</a></li>
                    <li class="nav-item mb-0"><a class="nav-link border" href="#" data-group="travel">Travel</a></li>
                    <li class="nav-item mb-0"><a class="nav-link border" href="#" data-group="urbex">Urbex</a></li>
                </ul>
            </div>
        </div>
        <div class="masonry-grid shuffle" data-columns="4" style="position: relative; height: 1946.12px; transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;">
            <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5 shuffle-item shuffle-item--visible" data-groups="[&quot;nature&quot;]" style="position: absolute; top: 0px; visibility: visible; will-change: transform; left: 0px; opacity: 1; transition-duration: 250ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
                <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 300px;">
                    <div class="zoom-effect-wrapper">
                        <div class="zoom-effect-img"><img src="/content/gallerycontent/garden-state/cover.jpg" alt="Image"></div>
                    </div>
                    <div class="pt-4 mt-lg-2">
                        <h2 class="h4 mb-2"><a class="stretched-link" href="/gallery/garden-state">Garden State</a></h2>
                        <div class="d-flex justify-content-between fs-lg text-muted"><span>Flora from my backyard</span><span>2021</span></div>
                    </div>
                </div>
            </article>
            <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5 shuffle-item shuffle-item--visible" data-groups="[&quot;nature&quot;]" style="position: absolute; top: 0px; visibility: visible; will-change: transform; left: 0px; opacity: 1; transition-duration: 250ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
                <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 300px;">
                    <div class="zoom-effect-wrapper">
                        <div class="zoom-effect-img"><img src="/content/gallerycontent/the-birdies/cover.jpg" alt="Image"></div>
                    </div>
                    <div class="pt-4 mt-lg-2">
                        <h2 class="h4 mb-2"><a class="stretched-link" href="/gallery/garden-state">OPM Colony</a></h2>
                        <div class="d-flex justify-content-between fs-lg text-muted"><span>urbex</span><span>2022</span></div>
                    </div>
                </div>
            </article>

        </div>
        <!-- Button-->
        <div class="text-center pb-sm-2 pb-md-4 mt-n1 mt-lg-n2"><a class="btn btn-lg btn-outline-dark rounded-0" href="/gallery">Let's work together</a></div>
    </div>
</section>


@section cssLib{

    <link rel="stylesheet" media="screen" href="~/assets/vendor/lightgallery/css/lightgallery-bundle.min.css" />
}

@section jsLib
    {
    <script src="~/assets/vendor/lightgallery/lightgallery.min.js"></script>
    <script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/vendor/shufflejs/dist/shuffle.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/lightgallery/plugins/video/lg-video.min.js"></script>
    <script src="~/assets/vendor/lightgallery/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="~/assets/vendor/lightgallery/plugins/zoom/lg-zoom.min.js"></script>
    <script src="~/assets/vendor/lightgallery/plugins/thumbnail/lg-thumbnail.min.js"></script>
}

@section jsScripts
{
    <script>
        const { createApp, ref } = Vue;
        const app = createApp({
            setup() {
                const loadThumbs = async () => {
                        
                };

                return {
                   loadThumbs
                };
            },
            async mounted() {
               await this.loadThumbs(); 
            }
        });

        app.mount('#gallery');
    </script>
}
