@{
    ViewData["ActiveCategory"] = "";
    ViewData["ActiveYear"] = "";
    ViewData["ActiveTag"] = "";
    ViewData["ActivePage"] = "Gallery";
}
<section class="bg-dark bg-faded-primary dark-mode d-flex min-vh-100 position-relative overflow-hidden py-4">
    <div class="container d-flex flex-column justify-content-center position-relative zindex-2 pt-sm-3 pt-md-4 pt-xl-5 pb-1 pb-sm-3 pb-lg-4 pb-xl-5">
        <div class="row flex-lg-nowrap align-items-center pb-5 pt-2 pt-lg-4 pt-xl-0 mt-lg-4 mt-xl-0">
            <div class="col-lg-7 order-lg-2 ms-lg-4 mb-2 mb-lg-0">
                <div class="parallax order-lg-2 mx-auto" style="max-width: 740px;">
                    <div class="parallax-layer" data-depth="0.05"><img src="~/assets/images/gallery/cover-parallax/01.png" alt="Layer"></div>
                    <div class="parallax-layer" data-depth="-0.05"><img src="~/assets/images/gallery/cover-parallax/02.png" style="animation: rotate-cw 100s linear infinite;" alt="Layer"></div>
                    <div class="parallax-layer zindex-2" data-depth="0.3"><img src="~/assets/images/gallery/cover-parallax/03.png" alt="Layer"></div>
                    <div class="parallax-layer zindex-2" data-depth="0.15"><img src="~/assets/images/gallery/cover-parallax/04.png" alt="Layer"></div>
                    <div class="parallax-layer zindex-2" data-depth="0.4"><img src="~/assets/images/gallery/cover-parallax/05.png" alt="Layer"></div>
                </div>
            </div>
            <div class="col-lg-5 order-lg-1 text-center text-lg-start me-xl-5">
                <span class="badge bg-faded-warning text-warning fs-sm">Take your data to the next level&nbsp; 🚀</span>
                <h1 class="display-4 py-3 my-2 mb-xl-3">TheCoffeeroom Gallery</h1>
                <ul class="list-unstyled d-table text-start mx-auto mx-lg-0 mb-0">
                    <li class="d-flex pb-2 mb-1"><i class="ai-check-alt text-primary lead me-2"></i>Segmenting the audience is easy and simple</li>
                    <li class="d-flex pb-2 mb-1"><i class="ai-check-alt text-primary lead me-2"></i>Functional dashboard for managing your data</li>
                    <li class="d-flex pb-2 mb-1"><i class="ai-check-alt text-primary lead me-2"></i>Key performance indicators of team interaction</li>
                </ul>
                <div class="d-flex justify-content-center justify-content-lg-start pt-4 pt-xl-5">
                    <div class="text-center">
                        <a class="btn btn-lg btn-primary rounded-pill w-100 w-sm-auto" href="#">Start free 14-day trial</a>
                        <p class="fs-sm pt-2 mt-sm-1 mb-0">100% free to get started!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container overflow-hidden pt-5 mt-5 pb-5 mb-2 mb-lg-3 mb-xl-4 mb-xxl-5" id="gallery">
    <div class="masonry-filterable">
        <div class="row pb-lg-4 mb-2 mb-sm-3">
            <div class="col-xxl-3 col-lg-4 text-center text-lg-start">
                <h1>Our Projects</h1>
                <p class="mb-4 mb-lg-0">We will put our industry expertise for creativity to work for your project</p>
            </div>
            <div class="col-xxl-9 col-lg-8 d-flex">
                <ul class="masonry-filters nav nav-pills fs-sm flex-nowrap overflow-auto text-nowrap w-100 mx-auto me-lg-0 pb-3" style="max-width: 510px;">
                    <li class="nav-item mb-0"><a class="nav-link border active" href="#" data-group="all">All</a></li>
                    <li class="nav-item mb-0"><a class="nav-link border" href="#" data-group="nature">Nature</a></li>
                    <li class="nav-item mb-0"><a class="nav-link border" href="#" data-group="travel">Travel</a></li>
                    <li class="nav-item mb-0"><a class="nav-link border" href="#" data-group="urbex">Urbex</a></li>
                </ul>
            </div>
        </div>
        <div class="masonry-grid shuffle" data-columns="4" style="position: relative; height: 1946.12px; transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;">
            <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5 shuffle-item shuffle-item--visible" data-groups="[&quot;nature&quot;]" style="position: absolute; top: 0px; visibility: visible; will-change: transform; left: 0px; opacity: 1; transition-duration: 250ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
                <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 300px;">
                    <div class="zoom-effect-wrapper">
                        <div class="zoom-effect-img"><img src="/content/gallerycontent/garden-state/cover.jpg" alt="Image"></div>
                    </div>
                    <div class="pt-4 mt-lg-2">
                        <h2 class="h4 mb-2"><a class="stretched-link" href="/gallery/garden-state">Garden State</a></h2>
                        <div class="d-flex justify-content-between fs-lg text-muted"><span>Flora from my backyard</span><span>2021</span></div>
                    </div>
                </div>
            </article>
            <article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5 shuffle-item shuffle-item--visible" data-groups="[&quot;nature&quot;]" style="position: absolute; top: 0px; visibility: visible; will-change: transform; left: 0px; opacity: 1; transition-duration: 250ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
                <div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 300px;">
                    <div class="zoom-effect-wrapper">
                        <div class="zoom-effect-img"><img src="/content/gallerycontent/the-birdies/cover.jpg" alt="Image"></div>
                    </div>
                    <div class="pt-4 mt-lg-2">
                        <h2 class="h4 mb-2"><a class="stretched-link" href="/gallery/garden-state">OPM Colony</a></h2>
                        <div class="d-flex justify-content-between fs-lg text-muted"><span>urbex</span><span>2022</span></div>
                    </div>
                </div>
            </article>

        </div>
        <!-- Button-->
        <div class="text-center pb-sm-2 pb-md-4 mt-n1 mt-lg-n2"><a class="btn btn-lg btn-outline-dark rounded-0" href="/gallery">Let's work together</a></div>
    </div>
</section>


@section cssLib{

    <link rel="stylesheet" media="screen" href="~/assets/vendor/lightgallery/css/lightgallery-bundle.min.css" />
}

@section jsLib
    {
    <script src="~/assets/vendor/lightgallery/lightgallery.min.js"></script>
    <script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/vendor/shufflejs/dist/shuffle.min.js"></script>
    <script src="~/assets/vendor/lightgallery/plugins/video/lg-video.min.js"></script>
    <script src="~/assets/vendor/lightgallery/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="~/assets/vendor/lightgallery/plugins/zoom/lg-zoom.min.js"></script>
    <script src="~/assets/vendor/lightgallery/plugins/thumbnail/lg-thumbnail.min.js"></script>
    <script src="~/assets/vendor/parallax-js/dist/parallax.min.js"></script>

}

@section jsScripts
{
    <script>
        const { createApp, ref } = Vue;
        const app = createApp({
            setup() {
                const loadThumbs = async () => {
                        
                };

                return {
                   loadThumbs
                };
            },
            async mounted() {
               await this.loadThumbs(); 
            }
        });

        app.mount('#gallery');
    </script>
}
