@{
    Layout = "_LayoutEmpty";

    ViewData["ActiveCategory"] = "";
    ViewData["ActiveYear"] = "";
    ViewData["ActiveTag"] = "";
    ViewData["ActivePage"] = "Account";
}

@section cssStyles{
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
}


<div class="d-lg-flex position-relative h-100" id="app">
    <router-view></router-view>
    <div class="w-50 bg-size-cover bg-repeat-0 bg-position-center" style="background-image: url(/assets/images/covers/login.jpg);"></div>
</div>




@section jsScripts{
    <environment include="development">
        <script src="~/reactors/accountreactor.js" asp-append-version="true"></script>
    </environment>
    <environment include="production">
        <script src="~/reactors/accountreactor.min.js" asp-append-version="true"></script>
    </environment>


}

