@{
    Layout = "_LayoutEmpty";
}

<section class="bg-secondary py-5">
    <div class="container pt-5 pb-lg-2 pb-xl-4 py-xxl-5">
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb">
            <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Verification</li>
            </ol>
        </nav>
        @if (Model.FirstName != null && Model.Stat == "valid")
        {
            <!-- Details cards-->
            <div class="row">
                <div class="card border-0 h-100">
                    <div class="card-body">
                        <h1 class="display-2">Hi , <span>@Model.FirstName</span></h1>
                        <p class="fs-lg pb-4 mb-2 mb-sm-3">Your account has been verified!!</p>
                        <a class="btn-lg btn btn-primary" href="/account/login">LOGIN</a>
                    </div>
                </div>

            </div>
        }
        else
        {
            <div class="row">
                <div class="card border-0 h-100">
                    <div class="card-body">
                        <h1 class="display-4"><span>Error!</span></h1>
                        <p class="fs-lg pb-4 mb-2 mb-sm-3">The Link is invalid/expired</p>
                        <a type="button" href="/account" class="btn-md btn btn-primary ripple">LOGIN</a>
                    </div>
                </div>
            </div>
        }


    </div>


</section>
