@{
    ViewData["BodyBg"] = "bg-secondary";
}
<div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
    <div class="row pt-sm-2 pt-lg-0" id="app">

        <!-- Page content-->
        <div class="col-lg-12 pt-4 pb-2 pb-sm-4">
            <h1 id="sectionTitle" class="h2 mb-4">{{viewTitle}}</h1>
            <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4 fade-in">
                @Html.AntiForgeryToken()
                <div class="card-body">
                    <router-view></router-view>
                </div>
            </section>
        </div>
    </div>
</div>
<hr class="d-none d-dark-mode-block">


@section jsScripts{
    <script src="~/reactors/profilereactor.js"></script>
}