<div class="fade-in">
    <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3 ">
        <div class="ms-auto"><router-link class=" btn btn-sm btn-secondary ripple" to="/profile/edit"><i class="ai-user ms-n1 me-2"></i>Edit</router-link><router-link class="btn btn-sm btn-secondary ripple mx-2" to="/profile/security"><i class="ai-user ms-n1 me-2"></i>Security</router-link></div>
    </div>
    <div class="d-md-flex align-items-center">
        <div class="d-sm-flex align-items-center">
            <div class="rounded-circle bg-size-cover bg-position-center flex-shrink-0" :style="{ width: '80px', height: '80px', backgroundImage:'url(/assets/images/avatars/default/'+ avatar +')' }"></div>
            <div class="pt-3 pt-sm-0 ps-sm-3">
                <h3 class="h5 mb-2">
                    {{firstname}} {{lastname}}
                    <span v-for="badge in badges" :key="badge.id">
                        <img :src="'/assets/svg/badges/' + badge.icon + '.svg'" style="width: 22px;" class="mx-1" data-bs-toggle="tooltip" data-bs-placement="top" :title="badge.title" />
                    </span>
                </h3>
                <div class="text-muted fw-medium d-flex flex-wrap flex-sm-nowrap align-iteems-center">
                    <div class="d-flex align-items-center me-3"><i class="ai-mail me-1"></i>{{email}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-3 mb-2 mb-sm-3">
        <div class="col-md-6 mb-4 mb-md-0">
            <table class="table mb-0">
                <tr>
                    <td class="border-0 text-muted py-1 px-0">Username</td>
                    <td class="border-0 text-dark fw-medium py-1 ps-3">{{username}}</td>
                </tr>
                <tr>
                    <td class="border-0 text-muted py-1 px-0">Phone</td>
                    <td class="border-0 text-dark fw-medium py-1 ps-3">{{phone}}</td>
                </tr>
                <tr>
                    <td class="border-0 text-muted py-1 px-0">EMail</td>
                    <td class="border-0 text-dark fw-medium py-1 ps-3">{{email}}</td>
                </tr>
                <tr>
                    <td class="border-0 text-muted py-1 px-0">Gender</td>
                    <td class="border-0 text-dark fw-medium py-1 ps-3">{{gender}}</td>
                </tr>
                <tr>
                    <td class="border-0 text-muted py-1 px-0">Bio</td>
                    <td class="border-0 text-dark fw-medium py-1 ps-3">{{bio}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 d-md-flex justify-content-end">
            <div class="w-100 border rounded-3 p-4" style="max-width: 242px;">
                <img class="d-block mb-2" src="/assets/img/account/gift-icon.svg" width="24" alt="Gift icon">
                <p class="fs-sm lh-base text-muted mb-0">membe since</p>
                <h4 class="h5  mb-0">{{dateElement}}</h4>

            </div>
        </div>
    </div>
</div>