<a class="text-nav btn btn-icon bg-light border rounded-circle position-absolute top-0 end-0 p-0 mt-3 me-3 mt-sm-4 me-sm-4" href="/" data-bs-toggle="tooltip" data-bs-placement="left" title="Back to home"><i class="ai-home"></i></a>
<div class="d-flex flex-column align-items-center w-lg-50 h-100 px-3 px-lg-5 pt-5 fade-in">
    <div class="w-100 mt-auto" style="max-width: 526px;">
        <div class="ms-auto pb-4"><router-link class=" btn btn-sm btn-secondary ripple" to="/account"><i class="ai-user ms-n1 me-2"></i>Menu</router-link></div>
        <form class="needs-validation">
            <div class="pb-3 mb-3">
                <div class="position-relative">
                    <i class="ai-mail fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                    <input class="form-control form-control-lg ps-5" v-model="email" @@keyup.enter="passReset" type="text" placeholder="Username or email" :readonly="isReadOnly">
                </div>
            </div>
            <div v-if="showOtpPanel">
                <div class="position-relative fade-in">
                    <i class="ai-mail fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                    <input class="form-control form-control-lg ps-5" ref="otpBox" v-model="otp" @@keyup.enter="loginViaOtp" type="text" placeholder="OTP" maxlength="6">
                </div>
                <button class="btn btn-lg btn-primary w-100 pt-3 mt-4 mb-4" type="button" v-on:click="loginViaOtp">Log In</span></button>
            </div>
            <div v-else>
                <button class="btn btn-lg btn-primary w-100 mb-4" type="button" v-on:click="passReset"><span v-html="buttonText"></span></button>
            </div>
        </form>
    </div>
    <p class="w-100 fs-sm pt-5 mt-auto mb-5" style="max-width: 526px;"><span class="text-muted">thecoffeeroom.in</span></p>

    <div class="w-50 bg-size-cover bg-repeat-0 bg-position-center" style="background-image: url(/assets/images/covers/login.jpg);"></div>
</div>