<a class="text-nav btn btn-icon bg-light border rounded-circle position-absolute top-0 end-0 p-0 mt-3 me-3 mt-sm-4 me-sm-4 homebtn" href="/" data-bs-toggle="tooltip" data-bs-placement="left" title="Back to home"><i class="ai-home"></i></a>

<div class="d-flex flex-column align-items-center w-lg-50 h-100 px-3 px-lg-5 pt-5 fade-in">
    <div class="w-100 mt-auto" style="max-width: 526px;">
        <div class="ms-auto pb-4"><router-link class=" btn btn-sm btn-secondary ripple" to="/account"><i class="ai-user ms-n1 me-2"></i>Menu</router-link><router-link class="btn btn-sm btn-secondary ripple mx-2" to="/account/login"><i class="ai-user ms-n1 me-2"></i>Login</router-link></div>
        <form id="signUpForm">
            <div class="row row-cols-1 row-cols-sm-2">
                <div class="col mb-4">
                    <input class="form-control form-control-lg" name="firstname" v-model="firstname" type="text" placeholder="First Name" required maxlength="20">
                </div>
                <div class="col mb-4">
                    <input class="form-control form-control-lg" name="lastname" v-model="lastname" type="text" placeholder="Last Name" required maxlength="20">
                </div>
                <div class="col mb-4">
                    <input class="form-control form-control-lg" type="text" name="username" v-model="username" placeholder="Preferred UserName" required maxlength="20">
                </div>
            </div>
            <div class="pb-3 mb-3">
                <div class="position-relative">
                    <i class="ai-mail fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                    <input name="email" type="email" v-model="email" @@keyup.enter="submitSignup" class="form-control form-control-lg ps-5 bindenter" placeholder="Email" maxlength="50" />
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 pb-2 mb-2">
                <div class="position-relative pb-4">
                    <div class="password-toggle">
                        <i class="ai-lock-closed fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                        <input name="password" type="password" @@keyup.enter="submitSignup" v-model="password" class="form-control form-control-lg ps-5 bindenter" placeholder="Password" maxlength="20" />
                        <label class="password-toggle-btn" aria-label="Show/hide password">
                            <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                        </label>
                    </div>
                </div>
                <div class="position-relative">

                    <div class="password-toggle">
                        <input name="passconfirm" v-model="passconfirm" class="form-control form-control-lg ps-5" type="password" placeholder="Password" required="">
                        <label class="password-toggle-btn" aria-label="Show/hide password">
                            <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn btn-lg btn-primary w-100 mb-4 fade-in-delay" type="button" @@keyup.enter="submitSignup" v-on:click="submitSignup"><span v-html="buttonText"></span></button>
        </form>
    </div>
    <!-- Copyright-->
    <p class="w-100 fs-sm pt-5 mt-auto mb-5" style="max-width: 526px;"><span class="text-muted">thecoffeeroom.in</span></p>
