@using theCoffeeroom.Models.Frame;
@{

    var AssetBase = "/content/gallerycontent/backyard-birdies";
    List<GalleryItem> galleryItems = new List<GalleryItem>
    {
        new GalleryItem { Image = "blabbers_1", Description = "Jungle Blabber" },
        new GalleryItem { Image = "blabbers_2", Description = "Jungle Blabber" },
        new GalleryItem { Image = "blabbers_3", Description = "Jungle Blabber" },
        new GalleryItem { Image = "blabbers_4", Description = "Jungle Blabber" },
        new GalleryItem { Image = "blabbers_5", Description = "Jungle Blabber" }


    };

    var src = "";
}
<section class="container py-5 my-lg-3 my-xl-4 my-xxl-5">
    <div class="py-2 py-sm-3 py-md-4 my-md-2 my-xxl-3">
        <h2 class="h1 text-center pt-xxl-1">Backyard Birdies</h2>
        <p class="fs-lg text-center pb-3 mb-lg-4">Birdies from my backyard</p>
        <div class="gallery row g-3 g-md-4 pb-4 masonry-grid">

            @foreach (var item in galleryItems)
            {
                <div class="col-md-3 col-sm-6  masonry-grid-item shuffle-item shuffle-item--visible">
                    <a class="gallery-item d-block card-hover zoom-effect" href="@($"{AssetBase}/lossless/{item.Image}.jpg")"
                       data-lg-id="565e885e-f001-4f5f-b4c0-17e97850b696">
                        <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                            <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                            <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                        </div>
                        <div class="zoom-effect-wrapper rounded-4">
                            <img class="zoom-effect-img"
                                 src="@($"{AssetBase}/thumbs/{item.Image}.jpg")" alt="@item.Description">
                        </div>
                    </a>
                </div>

            }

        </div>

    </div>
</section>