@{
    ViewData["Title"] = "Garden state photography album";
    ViewData["Tags"] = "mobile photography, lightroom, snapseed, nature";
    ViewData["Description"] = "Photoes from my garden";
    ViewData["Author"] = "Jass";
    ViewData["OgUrl"] = "jsm33t.com/gallery/album/garden-state";
    ViewData["OgImage"] = "/content/gallery/album/garden/cover.jpg";
    ViewData["OgType"] = "article";
    ViewData["NavBarProps"] = "navbar navbar-expand-lg bg-light fixed-top";
    ViewData["ActivePage"] = "Blogs";
    ViewData["asset"] = "/content/blogcontent/2023/top-5-must-watch-series-for-beginners";
}
<section class="container py-3 my-lg-3 my-xl-4 my-xxl-5">
    <div class="text-center pb-3 pt-sm-3 pt-md-4 mx-auto mt-xxl-1 mb-3 mb-lg-4" style="max-width: 525px;">
        <h2 class="h1">Our space</h2>
        <p class="mb-0">Morbi et massa fames ac scelerisque sit commodo dignissim faucibus vel quisque proin lectus et massa.</p>
    </div>

    <div class="gallery row g-4 g-sm-3 g-lg-4 pb-2 pb-sm-4 pb-xl-5 mb-lg-2 mb-xl-0 mb-xxl-2">
        <div class="col-4">
            <a class="d-block gallery-item card-hover zoom-effect" href="/content/gallerycontent/garden-state/lossless/01.jpg" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/flovayn' >Florian van Duyn</a></h4><p>Location - <a href='Bled, Slovenia'>Bled, Slovenia</a> </p>"  data-lg-id="80edb1af-995c-4d38-904d-6a0bdc137545">
                <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-5 overflow-hidden zindex-2 opacity-0">
                    <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                </div>
                <div class="zoom-effect-wrapper rounded-5"><img class="zoom-effect-img" src="/content/gallerycontent/garden-state/lossless/01.jpg" alt="Open space"></div>
            </a>
        </div>
        <div class="col-6">
            <a class="d-block gallery-item card-hover zoom-effect" href="/content/gallerycontent/garden-state/lossless/02.jpg" data-lg-id="42bd5495-1db1-4654-8649-39c731cfadda">
                <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-5 overflow-hidden zindex-2 opacity-0">
                    <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                </div>
                <div class="zoom-effect-wrapper rounded-5"><img class="zoom-effect-img" src="/content/gallerycontent/garden-state/lossless/02.jpg" alt="Kitchen"></div>
            </a>
        </div>
        <div class="col-4">
            <a class="d-block gallery-item card-hover zoom-effect" href="/content/gallerycontent/garden-state/lossless/01.jpg" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/flovayn' >Florian van Duyn</a></h4><p>Location - <a href='Bled, Slovenia'>Bled, Slovenia</a> </p>" data-lg-id="80edb1af-995c-4d38-904d-6a0bdc137545">
                <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-5 overflow-hidden zindex-2 opacity-0">
                    <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                </div>
                <div class="zoom-effect-wrapper rounded-5"><img class="zoom-effect-img" src="/content/gallerycontent/garden-state/lossless/01.jpg" alt="Open space"></div>
            </a>
        </div>

    </div>

    <div class="gallery row g-4 g-sm-3 g-lg-4 pb-2 pb-sm-4 pb-xl-5 mb-lg-2 mb-xl-0 mb-xxl-2">
        <div class="col-4">
            <a class="d-block gallery-item card-hover zoom-effect" href="/content/gallerycontent/garden-state/lossless/01.jpg" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/flovayn' >Florian van Duyn</a></h4><p>Location - <a href='Bled, Slovenia'>Bled, Slovenia</a> </p>" data-lg-id="80edb1af-995c-4d38-904d-6a0bdc137545">
                <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-5 overflow-hidden zindex-2 opacity-0">
                    <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                </div>
                <div class="zoom-effect-wrapper rounded-5"><img class="zoom-effect-img" src="/content/gallerycontent/garden-state/lossless/01.jpg" alt="Open space"></div>
            </a>
        </div>
        <div class="col-8">
            <a class="d-block gallery-item card-hover zoom-effect" href="/content/gallerycontent/garden-state/lossless/02.jpg" style="width:500px" data-lg-id="42bd5495-1db1-4654-8649-39c731cfadda">
                <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-5 overflow-hidden zindex-2 opacity-0">
                    <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                </div>
                <div class="zoom-effect-wrapper rounded-5"><img class="zoom-effect-img" src="/content/gallerycontent/garden-state/lossless/02.jpg" alt="Kitchen"></div>
            </a>
        </div>
        <div class="col-4">
            <a class="d-block gallery-item card-hover zoom-effect" href="/content/gallerycontent/garden-state/lossless/01.jpg" style="width:300px" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/flovayn' >Florian van Duyn</a></h4><p>Location - <a href='Bled, Slovenia'>Bled, Slovenia</a> </p>" data-lg-id="80edb1af-995c-4d38-904d-6a0bdc137545">
                <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-5 overflow-hidden zindex-2 opacity-0">
                    <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                </div>
                <div class="zoom-effect-wrapper rounded-5"><img class="zoom-effect-img" src="/content/gallerycontent/garden-state/lossless/01.jpg" alt="Open space"></div>
            </a>
        </div>

    </div>
</section>
