@{
    ViewData["Title"] = "Home Page";
}

@section cssStyles{
    <style>
        .fade-inhome {
    opacity: 0;
    transform: translateY(10px); /* Slide in from 20px below, you can change this as per your preference */
    animation: fadeInAnimation 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

    @@keyframes fadeInAnimation {
    to {
        opacity: 1;
        transform: translateY(0); /* Move to the original position */
    }
}
    </style>
}

@section jsLib{
    <script src="~/assets/vendor/parallax-js/dist/parallax.min.js"></script>
}
<div id="appHome">
<section class="bg-faded-primary d-flex min-vh-100 overflow-hidden py-5 fade-inhome">
    <div class="container d-flex justify-content-center pb-sm-3 py-md-4 py-xl-5">
        <div class="row align-items-center pt-5 mt-4 mt-xxl-0">
            <!-- Video + Parallax-->
            <div class="col-lg-6 mb-4 mb-lg-0 pb-3 pb-lg-0">
                <div class="parallax mx-auto mx-lg-0" style="max-width: 582px;">
                    <div class="parallax-layer zindex-3" data-depth="0.1">
                        <div class="position-relative mx-auto" style="max-width: 61%; padding: .3125rem; margin-bottom: 9.9%; background-color: #121519; border-radius: calc(var(--ar-border-radius) * 2.125);">
                            <div class="position-absolute start-50 translate-middle-x" style="top: 4.4%; width: 85%;">
                                <div class="row row-cols-4 gx-2 mb-3">
                                    <div class="col">
                                        <div class="border-white border opacity-80"></div>
                                    </div>
                                    <div class="col">
                                        <div class="border-white border opacity-80"></div>
                                    </div>
                                    <div class="col">
                                        <div class="border-white border opacity-80"></div>
                                    </div>
                                    <div class="col position-relative">
                                        <div class="position-absolute top-0 start-0 w-100 border-white border opacity-30"></div>
                                        <div class="position-absolute top-0 start-0 w-50 border-white border opacity-80"></div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="assets/img/landing/marketing-agency/hero/avatar.jpg" width="35" alt="Avatar">
                                    <div class="dark-mode fs-xs ps-2"><span class="text-nav fw-bold me-1">thecoffeeroom.in</span><span class="text-muted">12 min</span></div>
                                </div>
                            </div>

                            <div v-if="loadVid">
                                    <img src="~/assets/clips/covercr_placeholder.png" height="1920px">
                            </div>
                            <div v-else>
                                    <video class="d-block w-100" autoplay loop muted style="border-radius: calc(var(--ar-border-radius) * 1.875);">
                                        <source src="~/assets/clips/covercr.mp4" type="video/mp4">
                                    </video>
                            </div>
                       
                        </div>
                    </div>
                    <div class="parallax-layer" data-depth="0.3"><img src="assets/img/landing/marketing-agency/hero/shape01.svg" alt="Background shape"></div>
                    <div class="parallax-layer zindex-2" data-depth="-0.1"><img src="assets/img/landing/marketing-agency/hero/shape02.svg" alt="Background shape"></div>
                    <div class="parallax-layer" data-depth="-0.15"><img src="assets/img/landing/marketing-agency/hero/shape03.svg" alt="Background shape"></div>
                    <div class="parallax-layer zindex-2" data-depth="-0.25"><img src="assets/img/landing/marketing-agency/hero/shape04.svg" alt="Background shape"></div>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-2 pb-3 mb-4"><span class='fw-normal'>The Coffeeroom</span></h1>
                <div class="row row-cols-3">
                    <div class="col-4">
                        <i class="ai-bulb-alt d-block fs-1 text-dark mb-2 pb-1"></i>
                        <p class="mb-0">Blogs to keep you involved</p>
                    </div>
                    <div class="col-8">
                        <i class="ai-circle-check-filled d-block fs-3 text-dark mb-3"></i>
                        <p class="mb-0">Shops,Apps,Presets,Gallery and more in checklist. Stay tuned</p>
                    </div>
                </div>
                <div class="d-sm-flex justify-content-center justify-content-lg-start pt-5 mt-lg-2"><a class="btn btn-lg btn-primary w-100 w-sm-auto mb-2 mb-sm-0 me-sm-1" href="/personalize">Explore themes..</a><a class="btn btn-lg btn-link" href="/blogs">Explore blogs<i class="ai-arrow-right ms-2"></i></a></div>
            </div>
        </div>
    </div>
</section>
<section class="container dark-mode pt-5 mt-5">
    <div class="card border-0 bg-primary position-relative py-lg-4 py-xl-5">
        <!-- Decorative shapes-->
        <svg class="position-absolute end-0 mt-n2" width="242" height="331" viewBox="0 0 242 331" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M172.014 250.127C137.236 227.74 112.349 192.144 144.586 153.591C157.686 137.932 176.759 127.973 196.524 122.046C234.647 110.639 277.027 113.361 313.349 129.576C338.19 140.666 361.129 159.183 369.934 184.502C383.476 223.496 359.75 260.161 321.569 273.118C288.832 284.223 247.685 279.513 214.885 269.837C201.003 265.743 185.745 258.966 172.014 250.127Z" fill="#121519" fill-opacity=".07"></path>
            <path d="M20.3265 69.264C19.7064 43.0736 29.8071 17.1878 62.3851 19.8622C75.6229 20.9505 87.9525 27.2066 98.3563 35.3132C118.426 50.9253 132.424 73.896 136.952 98.6413C140.044 115.562 138.424 134.218 127.978 148C111.901 169.236 83.4531 170.283 62.5246 155.209C44.5807 142.281 32.0983 119.217 25.3391 98.6799C22.4836 89.9885 20.5616 79.6021 20.3265 69.264Z" fill="#121519" fill-opacity=".07"></path>
        </svg>
        <svg class="position-absolute start-0 bottom-0 ms-3" width="169" height="217" viewBox="0 0 169 217" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M34.2574 90.0177C29.666 97.6253 26.6254 106.591 24.9502 114.96C19.9522 140.043 26.4112 168.792 49.6162 181.885C66.0705 191.17 91.0017 189.904 108.062 183.692C125.725 177.266 135.045 168.04 142.29 150.389C151.409 128.174 150.912 99.6904 125.93 91.6429C115.423 88.254 104.723 86.5065 94.2249 82.5889C84.6622 79.0248 74.8545 72.1766 64.4411 71.6149C50.8011 70.8777 40.9122 79.0146 34.2574 90.0177Z" fill="#121519" fill-opacity="0.07"></path>
            <path d="M147.005 75.6331C152.135 70.7783 156.106 64.2374 159.153 57.9073C166.014 43.6372 174.127 22.1368 160.207 9.68505C152.924 3.17188 139.243 3.86644 130.324 5.29774C118.428 7.20428 107.295 8.85077 96.5031 14.783C85.8056 20.6599 79.0155 33.6997 77.0014 45.6686C75.4978 54.5776 79.63 63.6672 84.7391 70.7453C91.8208 80.5571 103.503 84.2003 114.817 84.3975C121.101 84.5081 127.716 84.0527 133.89 82.8121C138.932 81.7962 143.273 79.1597 147.005 75.6331Z" fill="#121519" fill-opacity="0.07"></path>
        </svg>
        <div class="card-body position-relative zindex-2 py-5">
            <form class="mx-auto" style="max-width: 800px;">
                @Html.AntiForgeryToken()
                <h2 class="h1 card-title text-center pb-4">Join our mailing list!! {{username}}</h2>
                <div class="row g-4">
                    <div class="col-sm-10 offset-sm-1">
                        <label class="form-label fs-base" for="email">Your email</label>
                        <input class="form-control form-control-lg" type="email" v-model="emailValue" placeholder="Your email" autocomplete="off">
                    </div>

                    <div class="col-sm-12 text-center pt-4">
                        <button class="btn btn-lg btn-primary btn-dark ripple" v-on:click="submitMail" type="button" v-html="btnTxt"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</div>


@section jsScripts{
    <script>
        const token = document.querySelector('input[name="__RequestVerificationToken"]').value;
        const { createApp, ref } = Vue;
        const app = createApp({
            setup() {
                const emailValue = ref('');
                const btnTxt = ref('Submit');
                const loadVid = ref(true);
               
                const submitMail = async () => {
                    btnTxt.value = '<span class="spinner-grow bg-dark spinner-grow-sm me-2" role="status" aria-hidden="true"></span>Loading..';

                    try {
                        axios.defaults.headers.common['RequestVerificationToken'] = token;
                        const response = await axios.post('/api/newsletter', {
                            EMailId: emailValue.value,
                            Origin: "/"
                        });
                        toaster("success", response.data);
                        emailValue.value = ''; 
                    } catch (error) {
                        toaster("error", error.response.data);
                    } finally{
                        btnTxt.value = 'Submit';
                    }
                };

                return {
                    emailValue,
                    btnTxt,
                    submitMail,
                    loadVid
                };
            },
            async mounted() {
                this.loadVid = !this.loadVid;
            }
        });

        app.mount('#appHome');
    </script>

}