@{
    
    ViewData["Title"] ??= "The Coffee Room";
    ViewData["Tags"] ??= "coffeeroom, blogs, space, shop, apps, social,music,software development, gallery, photography,magazines, creative";
    ViewData["Description"] ??= "The Coffee Room";
    ViewData["Authors"] ??= "Jass and others";
    ViewData["ActivePage"] = "Home";
}

@section cssStyles{
    <style>
        .fade-inhome {
            opacity: 0;
            transform: translateY(10px);
            animation: fadeInAnimation 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
        }

    @@keyframes fadeInAnimation {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    </style>
}
@section cssLib{

    <link rel="stylesheet" media="screen" href="/assets/vendor/swiper/swiper-bundle.min.css" />
}

@section jsScripts{
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script>
     

        const token = document.querySelector('input[name="__RequestVerificationToken"]').value;
        const { createApp, ref } = Vue;
        const app = createApp({
            setup() {
                const emailValue = ref('');
                const blogs = ref([]);
                const btnTxt = ref('Submit');
                const isLoading = ref(true);
                const submitMail = async () => {

                    btnTxt.value = '<span class="spinner-grow bg-dark spinner-grow-sm me-2" role="status" aria-hidden="true"></span>Loading..';
                    try {
                        axios.defaults.headers.common['RequestVerificationToken'] = token;
                        const response = await axios.post('/api/newsletter', {
                            EMailId: emailValue.value,
                            Origin: "/"
                        });
                        toaster("success", response.data);
                        emailValue.value = '';
                    } catch (error) {
                        toaster("error", error.response.data);
                    } finally {
                        btnTxt.value = 'Submit';

                    }
                };
                const loadTopBlogs = async () => {
                    try {
                        const response = await axios.get('/api/topblogs/get');
                        const data = response.data;
                        console.log(data);
                        blogs.value = data;
                    } catch (error) {
                        console.error('Error fetching data from API:', error);
                    } finally {
                        isLoading.value = false;
                    }
                };
                return {
                    emailValue,
                    blogs,
                    btnTxt,
                    submitMail,
                    loadTopBlogs,
                    isLoading

                };
            },
            async mounted() {
                this.loadTopBlogs();


            },
            computed: {
                formattedDate() {
                  const date = new Date(this.blog.datePosted);
                  // Define your desired date format (e.g., "MMM dd, yyyy hh:mm a" for Sep 16, 2023 12:34 PM)
                  const options = { year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit' };
                  return date.toLocaleDateString(undefined, options);
                },
              },
        });
        app.mount('#appHome');
    </script>

}
@section jsLib{
    <script src="~/assets/vendor/parallax-js/dist/parallax.min.js"></script>
}
<div id="appHome">
<section class="bg-faded-primary d-flex min-vh-100 overflow-hidden py-5 fade-in">
    <div class="container d-flex justify-content-center pb-sm-3 py-md-4 py-xl-5">
        <div class="row align-items-center pt-5 mt-4 mt-xxl-0">
            <!-- Video + Parallax-->
            <div class="col-lg-6 mb-4 mb-lg-0 mb-sm-2 pb-3 pb-lg-0">
                <div class="parallax mx-auto mx-lg-0" style="max-width: 582px;">
                
                    <div class="parallax-layer" data-depth="-0.1"><img src="assets/img/landing/marketing-agency/hero/shape02.svg" alt="Background shape"></div>
                    <div class="parallax-layer" data-depth="-0.25">
                       <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500" preserveAspectRatio="xMidYMid meet" version="1.0">
                          <g transform="matrix(1, 0, 0, 1, 22, 22)">
                                    <path fill="currentColor" d="M 222.417969 71.867188 C 225.746094 73.613281 227.574219 77.296875 226.957031 81 C 226.75 82.640625 226.527344 83.960938 226.527344 83.960938 C 226.527344 83.960938 218.734375 129.054688 158.210938 161.414062 C 133.59375 174.578125 110.042969 198.800781 100.71875 223.625 C 99.484375 226.945312 96.363281 229.195312 92.820312 229.3125 C 89.277344 229.429688 86.015625 227.394531 84.5625 224.15625 C 73.210938 198.992188 63.179688 153.882812 100.519531 108.910156 C 134.191406 68.359375 186.050781 53.5625 222.417969 71.867188 Z M 222.417969 71.867188 " fill-opacity="1" fill-rule="evenodd" />
                          </g>
                        </svg>
                    </div> 
                     <div class="parallax-layer" data-depth="-0.15">
                       <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500" preserveAspectRatio="xMidYMid meet" version="1.0">
                          <g transform="matrix(1, 0, 0, 1, 22, 22)">
                                    <path fill="currentColor" d="M 113.132812 257.613281 C 109.652344 255.804688 107.730469 251.960938 108.378906 248.09375 C 108.5625 246.578125 108.757812 245.390625 108.757812 245.390625 C 108.757812 245.390625 116.550781 200.296875 177.074219 167.9375 C 201.472656 154.894531 224.820312 130.984375 234.3125 106.398438 C 235.628906 102.972656 238.886719 100.671875 242.558594 100.585938 C 246.234375 100.5 249.597656 102.636719 251.074219 106 C 262.285156 131.3125 271.710938 175.941406 234.765625 220.441406 C 201.175781 260.890625 149.488281 275.714844 113.132812 257.613281 Z M 113.132812 257.613281 " fill-opacity="1" fill-rule="evenodd" />
                          </g>
                        </svg>
                    </div> 
                    <div class="parallax-layer zindex-2" data-depth="-0.45">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500" preserveAspectRatio="xMidYMid meet" version="1.0">
                                <path fill="currentColor" d="M 344.105469 158.492188 C 344.574219 161.03125 344.984375 163.578125 345.328125 166.136719 C 345.675781 168.691406 345.960938 171.257812 346.179688 173.828125 C 346.402344 176.398438 346.5625 178.972656 346.660156 181.550781 C 346.753906 184.132812 346.789062 186.710938 346.761719 189.289062 C 346.730469 191.871094 346.640625 194.449219 346.488281 197.027344 C 346.332031 199.601562 346.117188 202.171875 345.835938 204.738281 C 345.558594 207.304688 345.214844 209.859375 344.8125 212.410156 C 344.410156 214.957031 343.945312 217.496094 343.417969 220.023438 C 342.890625 222.546875 342.304688 225.058594 341.65625 227.558594 C 341.003906 230.054688 340.296875 232.535156 339.527344 235 C 338.757812 237.460938 337.929688 239.90625 337.039062 242.328125 C 336.152344 244.753906 335.207031 247.152344 334.203125 249.527344 C 333.195312 251.90625 332.132812 254.257812 331.015625 256.582031 C 329.894531 258.910156 328.722656 261.207031 327.492188 263.472656 C 326.257812 265.742188 324.972656 267.980469 323.636719 270.183594 C 322.296875 272.390625 320.902344 274.5625 319.457031 276.703125 C 318.011719 278.839844 316.515625 280.941406 314.96875 283.007812 C 313.421875 285.074219 311.824219 287.101562 310.179688 289.085938 C 308.535156 291.074219 306.839844 293.023438 305.101562 294.929688 C 303.359375 296.835938 301.574219 298.695312 299.742188 300.515625 C 297.914062 302.335938 296.039062 304.109375 294.121094 305.835938 C 292.203125 307.566406 290.246094 309.246094 288.246094 310.878906 C 286.25 312.511719 284.210938 314.09375 282.136719 315.628906 C 280.058594 317.164062 277.949219 318.644531 275.800781 320.078125 C 273.652344 321.507812 271.46875 322.886719 269.253906 324.210938 C 267.039062 325.539062 264.792969 326.808594 262.519531 328.023438 C 260.242188 329.242188 257.9375 330.402344 255.605469 331.507812 C 253.269531 332.609375 250.910156 333.65625 248.527344 334.648438 C 246.144531 335.636719 243.738281 336.570312 241.308594 337.441406 C 238.878906 338.316406 236.429688 339.128906 233.960938 339.882812 C 231.492188 340.636719 229.007812 341.328125 226.503906 341.960938 C 224 342.597656 221.484375 343.167969 218.953125 343.679688 C 218.019531 343.871094 217.070312 344.050781 216.097656 344.226562 L 215.40625 341.742188 C 216.417969 341.558594 217.433594 341.367188 218.449219 341.160156 C 220.957031 340.652344 223.449219 340.085938 225.929688 339.457031 C 228.410156 338.832031 230.875 338.144531 233.320312 337.394531 C 235.769531 336.644531 238.195312 335.835938 240.601562 334.96875 C 243.007812 334.101562 245.394531 333.175781 247.753906 332.195312 C 250.117188 331.210938 252.453125 330.167969 254.761719 329.070312 C 257.074219 327.972656 259.355469 326.816406 261.609375 325.609375 C 263.863281 324.398438 266.085938 323.132812 268.28125 321.8125 C 270.472656 320.496094 272.628906 319.125 274.753906 317.699219 C 276.878906 316.273438 278.96875 314.796875 281.019531 313.273438 C 283.074219 311.746094 285.089844 310.167969 287.0625 308.542969 C 289.039062 306.917969 290.972656 305.246094 292.867188 303.527344 C 294.761719 301.804688 296.609375 300.039062 298.417969 298.230469 C 300.226562 296.417969 301.988281 294.566406 303.703125 292.667969 C 305.417969 290.769531 307.089844 288.832031 308.710938 286.855469 C 310.332031 284.875 311.902344 282.859375 313.425781 280.804688 C 314.949219 278.75 316.417969 276.65625 317.839844 274.53125 C 319.257812 272.402344 320.625 270.242188 321.941406 268.046875 C 323.253906 265.851562 324.515625 263.625 325.71875 261.371094 C 326.925781 259.113281 328.074219 256.832031 329.167969 254.519531 C 330.261719 252.207031 331.296875 249.867188 332.277344 247.503906 C 333.253906 245.140625 334.175781 242.753906 335.035156 240.347656 C 335.898438 237.941406 336.703125 235.511719 337.445312 233.0625 C 338.1875 230.617188 338.871094 228.152344 339.492188 225.671875 C 340.113281 223.191406 340.675781 220.695312 341.175781 218.1875 C 341.675781 215.679688 342.113281 213.160156 342.492188 210.632812 C 342.867188 208.101562 343.183594 205.5625 343.4375 203.019531 C 343.6875 200.472656 343.878906 197.921875 344.003906 195.367188 C 344.132812 192.8125 344.199219 190.257812 344.199219 187.699219 C 344.203125 185.144531 344.144531 182.585938 344.019531 180.03125 C 343.898438 177.476562 343.710938 174.925781 343.464844 172.382812 C 343.214844 169.835938 342.90625 167.296875 342.535156 164.765625 C 342.164062 162.234375 341.730469 159.714844 341.234375 157.207031 C 342.179688 157.652344 343.128906 158.085938 344.097656 158.492188 Z M 158.890625 33.4375 C 158.058594 33.589844 157.234375 33.746094 156.402344 33.917969 C 153.886719 34.421875 151.386719 34.992188 148.898438 35.621094 C 146.414062 36.253906 143.945312 36.941406 141.492188 37.695312 C 139.039062 38.445312 136.605469 39.257812 134.195312 40.125 C 131.78125 40.996094 129.390625 41.925781 127.023438 42.914062 C 124.65625 43.902344 122.316406 44.945312 120 46.050781 C 117.683594 47.152344 115.398438 48.3125 113.136719 49.527344 C 110.878906 50.742188 108.652344 52.011719 106.457031 53.335938 C 104.257812 54.660156 102.097656 56.035156 99.96875 57.464844 C 97.839844 58.898438 95.746094 60.378906 93.691406 61.910156 C 91.632812 63.445312 89.617188 65.027344 87.636719 66.660156 C 85.660156 68.289062 83.722656 69.96875 81.828125 71.695312 C 79.929688 73.425781 78.078125 75.195312 76.269531 77.015625 C 74.460938 78.832031 72.699219 80.691406 70.980469 82.597656 C 69.261719 84.503906 67.59375 86.449219 65.972656 88.433594 C 64.347656 90.421875 62.777344 92.445312 61.253906 94.507812 C 59.730469 96.570312 58.261719 98.671875 56.839844 100.808594 C 55.421875 102.941406 54.054688 105.113281 52.742188 107.316406 C 51.429688 109.515625 50.171875 111.75 48.96875 114.015625 C 47.765625 116.28125 46.617188 118.570312 45.527344 120.894531 C 44.4375 123.214844 43.402344 125.558594 42.425781 127.929688 C 41.453125 130.300781 40.535156 132.695312 39.675781 135.113281 C 38.820312 137.527344 38.019531 139.964844 37.28125 142.421875 C 36.542969 144.875 35.867188 147.347656 35.25 149.835938 C 34.632812 152.324219 34.078125 154.828125 33.582031 157.34375 C 33.089844 159.859375 32.65625 162.386719 32.285156 164.925781 C 31.914062 167.460938 31.609375 170.007812 31.363281 172.558594 C 31.117188 175.113281 30.933594 177.667969 30.816406 180.230469 C 30.695312 182.792969 30.640625 185.355469 30.644531 187.917969 C 30.652344 190.480469 30.722656 193.042969 30.851562 195.605469 C 30.984375 198.167969 31.179688 200.722656 31.4375 203.273438 C 31.695312 205.824219 32.015625 208.367188 32.398438 210.902344 C 32.78125 213.4375 33.222656 215.964844 33.730469 218.476562 C 32.785156 218.015625 31.832031 217.570312 30.863281 217.148438 C 30.382812 214.609375 29.960938 212.058594 29.605469 209.496094 C 29.25 206.933594 28.957031 204.363281 28.726562 201.789062 C 28.496094 199.210938 28.328125 196.632812 28.222656 194.046875 C 28.117188 191.460938 28.074219 188.878906 28.09375 186.289062 C 28.113281 183.703125 28.199219 181.121094 28.34375 178.539062 C 28.492188 175.953125 28.699219 173.378906 28.972656 170.804688 C 29.246094 168.234375 29.578125 165.667969 29.976562 163.113281 C 30.375 160.558594 30.832031 158.011719 31.351562 155.480469 C 31.875 152.945312 32.457031 150.425781 33.101562 147.921875 C 33.742188 145.417969 34.449219 142.929688 35.214844 140.457031 C 35.976562 137.988281 36.804688 135.535156 37.6875 133.105469 C 38.570312 130.675781 39.515625 128.265625 40.515625 125.882812 C 41.519531 123.496094 42.578125 121.136719 43.695312 118.804688 C 44.808594 116.472656 45.984375 114.167969 47.210938 111.890625 C 48.441406 109.613281 49.722656 107.371094 51.0625 105.15625 C 52.402344 102.941406 53.792969 100.761719 55.238281 98.617188 C 56.679688 96.46875 58.175781 94.359375 59.722656 92.289062 C 61.269531 90.214844 62.867188 88.179688 64.515625 86.183594 C 66.160156 84.191406 67.855469 82.234375 69.597656 80.324219 C 71.335938 78.410156 73.125 76.539062 74.957031 74.714844 C 76.789062 72.890625 78.664062 71.109375 80.585938 69.375 C 82.503906 67.640625 84.464844 65.953125 86.464844 64.3125 C 88.46875 62.675781 90.507812 61.085938 92.585938 59.546875 C 94.667969 58.007812 96.78125 56.519531 98.933594 55.082031 C 101.085938 53.644531 103.269531 52.261719 105.488281 50.929688 C 107.707031 49.601562 109.957031 48.324219 112.238281 47.105469 C 114.519531 45.882812 116.828125 44.71875 119.167969 43.609375 C 121.503906 42.5 123.867188 41.449219 126.257812 40.457031 C 128.644531 39.464844 131.058594 38.53125 133.492188 37.652344 C 135.925781 36.777344 138.378906 35.960938 140.855469 35.203125 C 143.328125 34.449219 145.820312 33.753906 148.328125 33.117188 C 150.835938 32.484375 153.359375 31.910156 155.894531 31.394531 C 156.660156 31.242188 157.429688 31.097656 158.191406 30.953125 Z M 158.890625 33.4375 " fill-opacity="1" fill-rule="evenodd" />
                        </svg>
                    </div> 
                </div>
            </div>
            <div class="col-lg-6 pb-3 mb-3 text-center text-lg-start">
                <h1 class="display-2 pb-3 mb-4"><span class='fw-normal'>The Coffeeroom</span></h1>
                <div class="row row-cols-3">
                    <div class="col-4">
                        <i class="ai-bulb-alt d-block fs-1 text-dark mb-2 pb-1"></i>
                        <p class="mb-0">Blogs to keep you involved</p>
                    </div>
                    <div class="col-8">
                        <i class="ai-circle-check-filled d-block fs-3 text-dark mb-3"></i>
                        <p class="mb-0">Shops,Apps,Presets,Gallery and more in checklist. Stay tuned</p>
                    </div>
                </div>
                    <div class="d-sm-flex justify-content-center justify-content-lg-start pt-5 mt-lg-2">
                        <a class="btn btn-lg btn-primary w-100 w-sm-auto mb-2 mb-sm-0 me-sm-1" href="/personalize">Personalize</a>
                        <a class="btn btn-lg btn-link" href="/blogs">Explore blogs<i class="ai-arrow-right ms-2"></i></a>
                    </div>
            </div>
        </div>
    </div>
</section>
    <section class="position-relative overflow-hidden py-5">
        <div class="d-none d-dark-mode-block position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(255,255,255, .02);"></div>
        <div class="container  position-relative zindex-2 pt-3 pb-sm-3 pt-sm-4 py-md-5 my-lg-2 my-xl-3 my-xxl-4">
            <div class="row align-items-center py-xxl-2" data-aos="fade-up" data-aos-duration="600" data-aos-offset="300" data-disable-parallax-down="md">
                <div class="col-md-5 pb-3 pb-md-0 mb-3 mb-md-0 " data-aos="fade-up" data-aos-duration="850" data-aos-offset="200" data-disable-parallax-down="md">
                    <div class="ps-md-4 ps-lg-0">
                        <h2 class="mb-lg-4">The Coffeeroom Studios</h2>
                        <p class="pb-lg-2 mb-xl-4">
                            Bootlegs, Originals , Podcasts and much more..
                        </p>
                        <a class="btn btn-lg btn-link px-0" href="/studio">Explore..<i class="ai-arrow-right ms-2"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 col-xxl-5 offset-lg-2"><img src="~/assets/images/covers/studio-cover.png" width="420" alt="Image"></div>

            </div>
        </div>
    </section>
    
  @*   =================================================== CTA-Gallery ====================================================== *@
    <section class="position-relative bg-faded-primary overflow-hidden py-5">
        <div class="d-none d-dark-mode-block position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(255,255,255, .02);"></div>
        <div class="container position-relative zindex-2 pt-3 pb-sm-3 pt-sm-4 py-md-5 my-lg-2 my-xl-3 my-xxl-4">
            <div class="row align-items-center py-xxl-2" data-aos="fade-up" data-aos-duration="600" data-aos-offset="300" data-disable-parallax-down="md">
                <div class="col-md-6 pb-3 pb-md-0 mb-3 mb-md-0"><img src="~/assets/images/covers/gallery-cover.png" width="420" alt="Image"></div>
                <div class="col-md-6 col-lg-5 col-xxl-6 " data-aos="fade-up" data-aos-duration="850" data-aos-offset="200" data-disable-parallax-down="md">
                    <div class="ps-md-4 ps-lg-0">
                        <h2 class="mb-lg-4">Photo Gallery</h2>
                        <p class="pb-lg-2 mb-xl-4">A captivating visual journey through different aspects of the world, including flora & fauna, Abandoned places(urbex) and vlogs</p><a class="btn btn-lg btn-link px-0" href="/gallery">Browse..<i class="ai-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    @* ===================================================== WEB APPS ======================================================== *@
    <section class="container pt-5 mt-lg-2 mt-xl-4 mt-xxl-5">
        <div class="row align-items-center pt-2 pt-sm-4 pt-md-5 mt-xl-2 mt-xxl-3" data-aos="fade-up" data-aos-duration="600" data-aos-offset="300" data-disable-parallax-down="md">
            <div class="col-md-7 offset-xl-1 pb-3 pb-md-0 mb-3 mb-md-0 order-md-2"><img class="d-dark-mode-none" src="assets/img/about/product/features/02-light.png" width="744" alt="Image"><img class="d-none d-dark-mode-block" src="assets/img/about/product/features/02-dark.png" width="744" alt="Image"></div>
            <div class="col-md-5 col-xl-4 order-md-1" data-aos="fade-up" data-aos-duration="850" data-aos-offset="200" data-disable-parallax-down="md">
                <h2 class="mb-lg-4">Web apps, utilities and other archives</h2>
                <p class="pb-1 pb-md-2 mb-xl-4">You can easily identify interdependencies between different indicators, identify tendencies and prevent potential difficulties and problems. Nec id eget suada urna at sed est adipiscing auctor massa id duis fames.</p>
                <div class="row row-cols-2">
                    <div class="col">
                        <div class="d-table bg-info text-white rounded-1 p-2 mb-3"><i class="ai-time fs-3 m-1"></i></div>
                        <h3 class="h5 mb-2">Free Web apps</h3>
                        <p class="fs-sm mb-0">Free web apps. Developer/Music production utilities</p>
                    </div>
                    <div class="col">
                        <div class="d-table bg-danger text-white rounded-1 p-2 mb-3"><i class="ai-cloud-download fs-3 m-1"></i></div>
                        <h3 class="h5 mb-2">Source codes</h3>
                        <p class="fs-sm mb-0">Source code available for improvement/contribution</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @* ===================================================== BLOGS ======================================================== *@
    <section class="bg-secondary py-5">
        <div class="container d-flex align-items-center pt-lg-2 pt-xl-4 pt-xxl-5 pb-3 mt-1 mt-sm-3 mb-3 my-md-4">
            <h2 class="h1 mb-0">Recent Blogs</h2>
        </div>
        <!-- Swiper slider-->
        <div class="container-start">
       
                <div class="swiper-wrapper">
                    <div v-if="isLoading">
                        <article class="swiper-slide w-sm-auto h-auto">
                            <div class="card h-100 border-0 mx-auto" style="max-width: 416px;">
                            <a href="blog-single-v1.html"><img class="card-img-top" src="assets/img/blog/grid/01.jpg" alt="Post image"></a>
                                <div class="card-body pb-4">
                                    <div class="d-flex align-items-center mb-4 mt-n1"><span class="fs-sm text-muted">1</span><span class="fs-xs opacity-20 mx-3">|</span><a class="badge text-nav fs-xs border" href="#">Books</a></div>
                                    <h3 class="h4 card-title"><a href="blog-single-v1.html">Loading....</a></h3>
                                    <p class="card-text">Vulputate auctor lacus imperdiet facilisi tristique nisl pulvinar porta diam duis...</p>
                                </div>
                                <div class="card-footer pt-3">
                                    <a class="d-flex align-items-center text-decoration-none pb-2" href="#">
                                        <img class="rounded-circle" src="assets/img/avatar/06.jpg" width="48" alt="Post author">
                                        <h6 class="ps-3 mb-0">Jenny Wilson</h6>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div v-else>
                        <div v-for="blog in blogs" :key="blog.d">
                            <article class="swiper-slide w-sm-auto h-auto">
                                <div class="card h-100 border-0 mx-auto" style="max-width: 416px;">
                                <a :href="'/blog/' + blog.datePosted.slice(0, 4) + '/' + blog.urlHandle"><img class="card-img-top" :src="'/content/blogcontent/2023/' + blog.urlHandle + '/cover.jpg'" alt="Post image"></a>
                                    <div class="card-body pb-4">
                                        <div class="d-flex align-items-center mb-4 mt-n1"><span class="fs-sm text-muted">{{blog.datePosted}}</span></div>
                                    <h3 class="h4 card-title"><a :href="'/blog/' + blog.datePosted.slice(0, 4) + '/' + blog.urlHandle"> {{ blog.title }}</a></h3>
                                        <p class="card-text">{{blog.description}}</p>
                                    </div>
                                    @* <div class="card-footer pt-3">
                                        <a class="d-flex align-items-center text-decoration-none pb-2" href="#">
                                            <img class="rounded-circle" src="assets/img/avatar/06.jpg" width="48" alt="Post author">
                                            <h6 class="ps-3 mb-0">Jenny Wilson</h6>
                                        </a>
                                    </div> *@
                                </div>
                            </article>
                        </div>
                    </div>
                    
                </div>
            </div>
        <!-- All articles button-->
        <div class="container text-center pt-4 pb-1 pb-sm-3 pb-md-4 py-lg-5 mb-xl-1 mb-xxl-4 mt-2 mt-lg-0"><a class="btn btn-primary mb-1" href="/blogs">More Blogs</a></div>
    </section>

    @* =================================================== MAILING LIST ==================================================== *@
    <section class="container dark-mode pt-5 mt-5">
        <div class="card border-0 bg-primary position-relative py-lg-4 py-xl-5">
            <!-- Decorative shapes-->
            <svg class="position-absolute end-0 mt-n2" width="242" height="331" viewBox="0 0 242 331" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M172.014 250.127C137.236 227.74 112.349 192.144 144.586 153.591C157.686 137.932 176.759 127.973 196.524 122.046C234.647 110.639 277.027 113.361 313.349 129.576C338.19 140.666 361.129 159.183 369.934 184.502C383.476 223.496 359.75 260.161 321.569 273.118C288.832 284.223 247.685 279.513 214.885 269.837C201.003 265.743 185.745 258.966 172.014 250.127Z" fill="#121519" fill-opacity=".07"></path>
                <path d="M20.3265 69.264C19.7064 43.0736 29.8071 17.1878 62.3851 19.8622C75.6229 20.9505 87.9525 27.2066 98.3563 35.3132C118.426 50.9253 132.424 73.896 136.952 98.6413C140.044 115.562 138.424 134.218 127.978 148C111.901 169.236 83.4531 170.283 62.5246 155.209C44.5807 142.281 32.0983 119.217 25.3391 98.6799C22.4836 89.9885 20.5616 79.6021 20.3265 69.264Z" fill="#121519" fill-opacity=".07"></path>
            </svg>
            <svg class="position-absolute start-0 bottom-0 ms-3" width="169" height="217" viewBox="0 0 169 217" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M34.2574 90.0177C29.666 97.6253 26.6254 106.591 24.9502 114.96C19.9522 140.043 26.4112 168.792 49.6162 181.885C66.0705 191.17 91.0017 189.904 108.062 183.692C125.725 177.266 135.045 168.04 142.29 150.389C151.409 128.174 150.912 99.6904 125.93 91.6429C115.423 88.254 104.723 86.5065 94.2249 82.5889C84.6622 79.0248 74.8545 72.1766 64.4411 71.6149C50.8011 70.8777 40.9122 79.0146 34.2574 90.0177Z" fill="#121519" fill-opacity="0.07"></path>
                <path d="M147.005 75.6331C152.135 70.7783 156.106 64.2374 159.153 57.9073C166.014 43.6372 174.127 22.1368 160.207 9.68505C152.924 3.17188 139.243 3.86644 130.324 5.29774C118.428 7.20428 107.295 8.85077 96.5031 14.783C85.8056 20.6599 79.0155 33.6997 77.0014 45.6686C75.4978 54.5776 79.63 63.6672 84.7391 70.7453C91.8208 80.5571 103.503 84.2003 114.817 84.3975C121.101 84.5081 127.716 84.0527 133.89 82.8121C138.932 81.7962 143.273 79.1597 147.005 75.6331Z" fill="#121519" fill-opacity="0.07"></path>
            </svg>
            <div class="card-body position-relative zindex-2 py-5">
                <form class="mx-auto" style="max-width: 800px;">
                    @Html.AntiForgeryToken()
                    <h2 class="h1 card-title text-center pb-4">Join our mailing list!! {{username}}</h2>
                    <div class="row g-4">
                        <div class="col-sm-10 offset-sm-1">
                            <label class="form-label fs-base" for="email">Your email</label>
                                <input class="form-control form-control-lg" type="text" v-model="emailValue" @@keyup.enter="submitMail" placeholder="Your email" autocomplete="off">
                        </div>

                        <div class="col-sm-12 text-center pt-4">
                                <button type="button" class="btn btn-lg btn-primary btn-dark ripple"  v-on:click="submitMail" v-html="btnTxt"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>


</div>

