@section jsLib{
    <script src="~/assets/vendor/parallax-js/dist/parallax.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/aos/dist/aos.js"></script>
}
@section cssLib{
    <link rel="stylesheet" media="screen" href="~/assets/vendor/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" media="screen" href="~/assets/vendor/aos/dist/aos.css" />
}


<section class="overflow-hidden pt-2 mt-xl-4 mt-xxl-5 pb-5 mt-5 mb-5">
    <div class="container  mt-md-3 mt-lg-0">
        <div class="row align-items-center">
            <div class="col-md-7 col-xxl-6 offset-xl-1 offset-xxl-2 order-md-2 pb-2 pb-sm-0 mb-4 mb-sm-5 mb-md-0">
                <div class="parallax mx-auto" style="max-width: 560px;">
                    <div class="parallax-layer" data-depth="0.1"><img src="assets/img/landing/mobile-app-showcase/people/01.png" alt="Layer"></div>
                    <div class="parallax-layer" data-depth="-0.05"><img src="assets/img/landing/mobile-app-showcase/people/02.png" alt="Layer"></div>
                    <div class="parallax-layer" data-depth="0.2"><img src="assets/img/landing/mobile-app-showcase/people/03.png" alt="Layer"></div>
                    <div class="parallax-layer" data-depth="-0.15"><img src="assets/img/landing/mobile-app-showcase/people/04.png" alt="Layer"></div>
                    <div class="parallax-layer" data-depth="0.25"><img src="assets/img/landing/mobile-app-showcase/people/05.png" alt="Layer"></div>
                    <div class="parallax-layer" data-depth="0.35"><img src="assets/img/landing/mobile-app-showcase/people/06.png" alt="Layer"></div>
                </div>
            </div>
            <div class="col-md-5 col-xl-4 order-md-1">
              
                <div class="container position-relative zindex-5  pb-2 pb-sm-4 pb-lg-5">
                    <h1 class="display-3 text-center mx-auto pt-5 my-2 my-sm-4" style="max-width: 680px;">The Coffeeroom Family</h1>
                    <svg class="d-block mx-auto text-primary" width="511" height="40" viewBox="0 0 511 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M385.252 0.160149C313.41 0.614872 292.869 0.910678 253.008 2.06539C211.7 3.26203 182.137 4.46154 135.231 6.84429C124.358 7.39665 112.714 7.92087 99.0649 8.47247C48.9242 10.4987 39.1671 11.0386 22.9579 12.6833C14.9267 13.4984 7.98117 14.0624 4.08839 14.2162C0.627411 14.3527 0 14.4386 0 14.7762C0 15.0745 5.53537 15.3358 8.56298 15.1804C9.64797 15.1248 12.5875 14.9887 15.0956 14.8782C17.6037 14.7676 23.123 14.4706 27.3608 14.2183C37.3399 13.6238 42.1312 13.4363 59.2817 12.9693C88.1133 12.1844 109.893 11.43 136.647 10.2898C146.506 9.86957 159.597 9.31166 165.737 9.04993C212.308 7.06466 269.195 5.29439 303.956 4.74892C346.139 4.08665 477.094 3.50116 474.882 3.98441C474.006 4.17607 459.021 5.6015 450.037 6.34782C441.786 7.03345 428 8.02235 411.041 9.14508C402.997 9.67773 391.959 10.4149 386.51 10.7832C366.042 12.1673 359.3 12.5966 347.67 13.2569C294.096 16.2987 258.708 18.9493 209.451 23.6091C180.174 26.3788 156.177 29.5584 129.396 34.2165C114.171 36.8648 112.687 37.3352 114.186 39.0402C115.161 40.1495 122.843 40.2933 138.338 39.492C166.655 38.0279 193.265 36.8923 219.043 36.048C235.213 35.5184 237.354 35.4296 253.795 34.6075C259.935 34.3005 270.549 33.8517 277.382 33.6105L289.804 33.1719L273.293 32.999C248.274 32.7369 221.435 32.7528 212.596 33.035C183.334 33.9693 167.417 34.6884 141.419 36.2506C135.222 36.623 129.994 36.8956 129.801 36.8566C127.94 36.4786 169.612 30.768 189.492 28.6769C234.369 23.956 280.582 20.4337 351.602 16.3207C358.088 15.9451 371.108 15.1233 380.535 14.4947C389.962 13.866 404.821 12.8761 413.556 12.2946C447.177 10.057 457.194 9.22358 489.506 5.97543C510.201 3.895 510.311 3.8772 510.875 2.50901C511.496 1.00469 509.838 0.322131 505.088 0.127031C500.576 -0.0584957 416.098 -0.0351424 385.252 0.160149ZM291.144 33.02C291.536 33.0658 292.102 33.0641 292.402 33.0162C292.703 32.9683 292.383 32.9308 291.691 32.9329C290.999 32.935 290.753 32.9743 291.144 33.02Z"></path>
                    </svg>
                </div>
               
            </div>
        </div>
    </div>
</section>


<section class="container pt-2 pt-xxl-3 pb-5 mb-sm-2 mb-lg-3 mb-xl-4 mb-xxl-5 pt-5">
    <div class="row pb-md-3">
        <div class="col-md-4 mb-2 mb-sm-3 mb-md-4 pb-2" style="margin-top: -120px;">
            <div class="position-sticky top-0" style="padding-top: 120px;">
                <h2 class="display-3 mb-0 mb-md-3 pb-lg-3">Founders</h2><a class="btn btn-lg btn-link px-0" href="#">View all 16 members<i class="ai-arrow-right ms-2"></i></a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <!-- Item-->
                <div class="col">
                    <div class="card-hover pb-3 mb-lg-2 mb-xl-3 me-sm-1 pe-xl-3">
                        <div class="position-relative">
                            <img src="assets/img/landing/creative-agency/team/01.jpg"  alt="Image">
                            <div class="d-flex justify-content-center position-absolute start-0 bottom-0 w-100 px-3 mb-4 opacity-0"><a class="btn btn-light btn-icon btn-sm btn-facebook rounded-circle mx-2" href="#"><i class="ai-facebook"></i></a><a class="btn btn-light btn-icon btn-sm btn-dribbble rounded-circle mx-2" href="#"><i class="ai-dribbble"></i></a><a class="btn btn-light btn-icon btn-sm btn-stack-overflow rounded-circle mx-2" href="#"><i class="ai-stack-overflow"></i></a></div>
                        </div>
                        <div class="border-bottom pt-4 pb-3">
                            <h3 class="h4 mb-2">Jasmeet</h3><span class="fs-lg text-muted">founder</span>
                        </div>
                    </div>
                </div>
                <!-- Item-->
                <div class="col">
                    <div class="card-hover pb-3 mb-lg-2 mb-xl-3 ms-sm-1 ps-xl-3">
                        <div class="position-relative">
                            <img src="assets/img/landing/creative-agency/team/02.jpg" alt="Image">
                            <div class="d-flex justify-content-center position-absolute start-0 bottom-0 w-100 px-3 mb-4 opacity-0"><a class="btn btn-light btn-icon btn-sm btn-facebook rounded-circle mx-2" href="#"><i class="ai-facebook"></i></a><a class="btn btn-light btn-icon btn-sm btn-instagram rounded-circle mx-2" href="#"><i class="ai-instagram"></i></a><a class="btn btn-light btn-icon btn-sm btn-behance rounded-circle mx-2" href="#"><i class="ai-behance"></i></a></div>
                        </div>
                        <div class="border-bottom pt-4 pb-3">
                            <h3 class="h4 mb-2">Laymaann</h3><span class="fs-lg text-muted">co-founder</span>
                        </div>
                    </div>
                </div>
                
     
            </div>
        </div>
    </div>
</section>
<section class="container pt-2 pt-xxl-3 pb-5 mb-sm-2 mb-lg-3 mb-xl-4 mb-xxl-5">
    <div class="row pb-md-3">
        <div class="col-md-4 mb-2 mb-sm-3 mb-md-4 pb-2" style="margin-top: -120px;">
            <div class="position-sticky top-0" style="padding-top: 120px;">
                <h2 class="display-3 mb-0 mb-md-3 pb-lg-3">Contributors</h2><a class="btn btn-lg btn-link px-0" href="#">View all 16 members<i class="ai-arrow-right ms-2"></i></a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <!-- Item-->
                <div class="col-md-4">
                    <div class="card-hover pb-3 mb-lg-2 mb-xl-3 me-sm-1 pe-xl-3">
                        <div class="position-relative">
                            <img src="assets/img/landing/creative-agency/team/01.jpg" width="300" alt="Image">
                            <div class="d-flex justify-content-center position-absolute start-0 bottom-0 w-100 px-3 mb-4 opacity-0"><a class="btn btn-light btn-icon btn-sm btn-facebook rounded-circle mx-2" href="#"><i class="ai-facebook"></i></a><a class="btn btn-light btn-icon btn-sm btn-dribbble rounded-circle mx-2" href="#"><i class="ai-dribbble"></i></a><a class="btn btn-light btn-icon btn-sm btn-stack-overflow rounded-circle mx-2" href="#"><i class="ai-stack-overflow"></i></a></div>
                        </div>
                        <div class="border-bottom pt-4 pb-3">
                            <h3 class="h4 mb-2">Pepe (real name)</h3><span class="fs-lg text-muted">Web Designer</span>
                        </div>
                    </div>
                </div>
                <!-- Item-->
                <div class="col-md-4">
                    <div class="card-hover pb-3 mb-lg-2 mb-xl-3 ms-sm-1 ps-xl-3">
                        <div class="position-relative">
                            <img src="assets/img/landing/creative-agency/team/02.jpg" width="300" alt="Image">
                            <div class="d-flex justify-content-center position-absolute start-0 bottom-0 w-100 px-3 mb-4 opacity-0"><a class="btn btn-light btn-icon btn-sm btn-facebook rounded-circle mx-2" href="#"><i class="ai-facebook"></i></a><a class="btn btn-light btn-icon btn-sm btn-instagram rounded-circle mx-2" href="#"><i class="ai-instagram"></i></a><a class="btn btn-light btn-icon btn-sm btn-behance rounded-circle mx-2" href="#"><i class="ai-behance"></i></a></div>
                        </div>
                        <div class="border-bottom pt-4 pb-3">
                            <h3 class="h4 mb-2">Nunu yz(real name)</h3><span class="fs-lg text-muted">Identity Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-hover pb-3 mb-lg-2 mb-xl-3 ms-sm-1 ps-xl-3">
                        <div class="position-relative">
                            <img src="assets/img/landing/creative-agency/team/02.jpg" width="300" alt="Image">
                            <div class="d-flex justify-content-center position-absolute start-0 bottom-0 w-100 px-3 mb-4 opacity-0"><a class="btn btn-light btn-icon btn-sm btn-facebook rounded-circle mx-2" href="#"><i class="ai-facebook"></i></a><a class="btn btn-light btn-icon btn-sm btn-instagram rounded-circle mx-2" href="#"><i class="ai-instagram"></i></a><a class="btn btn-light btn-icon btn-sm btn-behance rounded-circle mx-2" href="#"><i class="ai-behance"></i></a></div>
                        </div>
                        <div class="border-bottom pt-4 pb-3">
                            <h3 class="h4 mb-2">Nunu yz(real name)</h3><span class="fs-lg text-muted">Identity Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-hover pb-3 mb-lg-2 mb-xl-3 ms-sm-1 ps-xl-3">
                        <div class="position-relative">
                            <img src="assets/img/landing/creative-agency/team/02.jpg" width="300" alt="Image">
                            <div class="d-flex justify-content-center position-absolute start-0 bottom-0 w-100 px-3 mb-4 opacity-0"><a class="btn btn-light btn-icon btn-sm btn-facebook rounded-circle mx-2" href="#"><i class="ai-facebook"></i></a><a class="btn btn-light btn-icon btn-sm btn-instagram rounded-circle mx-2" href="#"><i class="ai-instagram"></i></a><a class="btn btn-light btn-icon btn-sm btn-behance rounded-circle mx-2" href="#"><i class="ai-behance"></i></a></div>
                        </div>
                        <div class="border-bottom pt-4 pb-3">
                            <h3 class="h4 mb-2">Nunu yz(real name)</h3><span class="fs-lg text-muted">Identity Designer</span>
                        </div>
                    </div>
                </div>
              
           
            </div>
        </div>
    </div>
</section>
