@{

    ViewData["ActiveTag"] = "Docs";
    ViewData["BodyBg"] = "bg-secondary";

    ViewData["Title"] ??= "Credits | tcr";
    ViewData["Tags"] ??= "coffeeroom, blogs, space, shop, apps, social,music,software development, gallery, photography,magazines, creative";
    ViewData["Description"] ??= "The Coffee Room";
    ViewData["Authors"] ??= "jsm33t";
}

<!-- Page content-->
<section class="container pt-5 pb-4">
    <div class="row pt-5 mt-lg-4 pb-2 pb-sm-3">
        <div class="col-lg-12 position-relative zindex-5">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <h1 class="pt-1 pt-lg-2 pb-2 pb-sm-3 pb-lg-4">Sources and credits</h1>
                    <p>3rd party vendor libraries/frameworks</p>
                    <h2 class="h4 pt-3 pt-lg-4">Contributors/Testers</h2>
                    <ul class="list-unstyled fs-base fw-medium text-muted">
                        Rituraj Singh, Amit Sharma, Priti Mondal, Nanesh Verma, Mandar Kamble
                    </ul>
                    <h2 class="h4 pt-3">Plugins, Libraries and Frameworks</h2>
                    <ul class="list-unstyled">
                        <li class="mb-2"><span class="text-nav fw-semibold">Vue JS - </span><a href="https://vuejs.org/" target="_blank" rel="noopener">https://vuejs.org/</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">Bootstrap 5 - </span><a href="https://getbootstrap.com/" target="_blank" rel="noopener">https://getbootstrap.com/</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">Swiper - </span><a href="https://swiperjs.com/" target="_blank" rel="noopener">https://swiperjs.com/</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">Jarallax - </span><a href="https://github.com/nk-o/jarallax" target="_blank" rel="noopener">https://github.com/nk-o/jarallax</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">Lightgallery.js - </span><a href="https://www.lightgalleryjs.com/" target="_blank" rel="noopener">https://www.lightgalleryjs.com/</a></li>
                       
                        <li class="mb-2"><span class="text-nav fw-semibold">noUiSlider - </span><a href="https://refreshless.com/nouislider/" target="_blank" rel="noopener">https://refreshless.com/nouislider/</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">Shuffle - </span><a href="https://vestride.github.io/Shuffle/" target="_blank" rel="noopener">https://vestride.github.io/Shuffle/</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">AOS (Animate on Scroll) - </span><a href="https://michalsnik.github.io/aos/" target="_blank" rel="noopener">https://michalsnik.github.io/aos/</a></li>
                        
                        <li class="mb-2"><span class="text-nav fw-semibold">LottieFiles Web Player - </span><a href="https://lottiefiles.com/web-player" target="_blank" rel="noopener">https://lottiefiles.com/web-player</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">Image Comparison Slider - </span><a href="https://img-comparison-slider.sneas.io/" target="_blank" rel="noopener">https://img-comparison-slider.sneas.io/</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">Smooth Scroll - </span><a href="https://github.com/cferdinandi/smooth-scroll/" target="_blank" rel="noopener">https://github.com/cferdinandi/smooth-scroll/</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">Parallax.js - </span><a href="https://github.com/wagerfield/parallax" target="_blank" rel="noopener">https://github.com/wagerfield/parallax</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">Prism.js - </span><a href="https://prismjs.com/" target="_blank" rel="noopener">https://prismjs.com/</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">Node.js - </span><a href="https://nodejs.org/en/" target="_blank" rel="noopener">https://nodejs.org/en/</a></li>
                       
                    </ul>
                    <h2 class="h4 pt-3 pt-lg-4">Google Fonts</h2>
                    <ul class="list-unstyled">
                        <li><span class="text-nav fw-semibold">Inter - </span><a href="https://fonts.google.com/specimen/Inter" target="_blank" rel="noopener">https://fonts.google.com/specimen/Inter</a></li>
                    </ul>
                    <h2 class="h4 pt-3 pt-lg-4">Font Icons <span class='fs-base fw-medium text-muted'>(converted to font with Icomoon)</span></h2>
                    <ul class="list-unstyled">
                        <li class="mb-2"><span class="text-nav fw-semibold">Atomicons - </span><a href="https://atomicons.com/" target="_blank" rel="noopener">https://atomicons.com/</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">Social Icons - </span><a href="https://www.flaticon.com/packs/social-logo-2" target="_blank" rel="noopener">https://www.flaticon.com/packs/social-logo-2</a></li>
                    </ul>
                    <h2 class="h4 pt-3 pt-lg-4">Avatar Library</h2>
                    <ul class="list-unstyled">
                        <li><a href="https://ui8.net/themeselect/products/free-avatar-library-for-figma-and-sketch" target="_blank" rel="noopener">https://ui8.net/themeselect/products/free-avatar-library-for-figma-and-sketch</a></li>
                    </ul>
                    <h2 class="h4 pt-3 pt-lg-4">Flags <span class='fs-base fw-medium text-muted'>(Language switcher)</span></h2>
                    <ul class="list-unstyled">
                        <li><a href="https://www.flaticon.com/packs/international-flags-6" target="_blank" rel="noopener">https://www.flaticon.com/packs/international-flags-6</a></li>
                    </ul>
                    
                    <h2 class="h4 pt-3 pt-lg-4">Graphic Assets</h2>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><span class="text-nav fw-semibold">Freepick - </span><a href="https://freepik.com" target="_blank" rel="noopener">https://freepik.com</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">Flaticon - </span><a href="https://www.flaticon.com/" target="_blank" rel="noopener">https://www.flaticon.com/</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">Pexels - </span><a href="https://www.pexels.com" target="_blank" rel="noopener">https://www.pexels.com</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">Unsplash - </span><a href="https://unsplash.com/" target="_blank" rel="noopener">https://unsplash.com/</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">Craftwork - </span><a href="https://craftwork.design/" target="_blank" rel="noopener">https://craftwork.design/</a></li>
                        <li class="mb-2"><span class="text-nav fw-semibold">UI8 - </span><a href="https://ui8.net/" target="_blank" rel="noopener">https://ui8.net/</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>