@{
    
    ViewData["ActiveTag"] = "Docs";
    ViewData["BodyBg"] = "bg-secondary";
    ViewData["Title"] ??= "Changelog | tcr";
    ViewData["Tags"] ??= "coffeeroom, blogs, space, shop, apps, social,music,software development, gallery, photography,magazines, creative";
    ViewData["Description"] ??= "The Coffee Room";
    ViewData["Authors"] ??= "jsm33t";
}

<section class="container pt-5 pb-4">
    <div class="row pt-5 mt-lg-4 pb-2 pb-sm-3">
        <div class="col-lg-12 position-relative zindex-5">
            <div class="card border-0 mb-4">
                <div class="card-body">
                    <h1 class="pt-1 pt-lg-2 pb-2 pb-sm-3 pb-lg-2">Changelog</h1>
                    <hr class="my-2">
                    <h2 class="h4 pb-1"><span class='text-primary'>v1.0.0&nbsp;</span>-&nbsp;September 20, 2023</h2>
                    <ul class="list-unstyled">
                        <li class="d-flex align-items-start mb-3"><span class="badge bg-faded-info text-info fs-sm pt-1 me-3">New</span><span>Blogs <a href='/blogs' class='fs-sm fw-medium' target='_blank' rel='noopener'>Check Out</a>.</span></li>
                        <li class="d-flex align-items-start mb-3"><span class="badge bg-faded-info text-info fs-sm pt-1 me-3">New</span><span>Members' Wall <a href='/members' class='fs-sm fw-medium' target='_blank' rel='noopener'>Check Out</a>.</span></li>
                        <li class="d-flex align-items-start mb-3"><span class="badge bg-faded-info text-info fs-sm pt-1 me-3">New</span><span>Studio Section <a href='/studio' class='fs-sm fw-medium' target='_blank' rel='noopener'>Check Out</a>.</span></li>
                        <li class="d-flex align-items-start mb-3"><span class="badge bg-faded-info text-info fs-sm pt-1 me-3">New</span><span>Gallery <a href='/gallery' class='fs-sm fw-medium' target='_blank' rel='noopener'> Check Out</a>.</span></li>
                        <li class="d-flex align-items-start mb-3"><span class="badge bg-faded-info text-info fs-sm pt-1 me-3">New</span><span>Faqs <a href='/docs/faq' class='fs-sm fw-medium' target='_blank' rel='noopener'> Check Out</a>.</span></li>
                        <li class="d-flex align-items-start mb-3"><span class="badge bg-faded-success text-success fs-sm pt-1 me-3">Updated </span>Npm dependencies and vendor plugins to latest versions</li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</section>