@{
    
    ViewData["ActiveTag"] = "Docs";
}

<section class="bg-secondary py-5">
    <div class="container py-md-2 py-lg-3 py-xl-5 my-2 my-sm-3 my-md-4 my-xxl-5">
        <h1>Changelog page</h1>
        ID
    </div>
</section>