@{

    ViewData["ActiveCategory"] = "";
    ViewData["ActiveYear"] = "";
    ViewData["ActiveTag"] = "";
    ViewData["ActivePage"] = "";


    ViewData["FaqPage"] = "";
}

@section cssStyles{
    <style>
        [v-cloak] {
            display: none;
        }

    </style>
}

<section class="container pt-5 mt-5 bg-secondary" id="app">
    <router-view></router-view>
</section>
@section jsScripts{
   <script src="~/reactors/docsreactor.js"></script>
 
}
