@{
    ViewData["ActiveCategory"] = "";
    ViewData["ActiveYear"] = "";
    ViewData["ActiveTag"] = "";
    ViewData["ActivePage"] = "";

    ViewData["FaqPage"] = "";
}

@section cssStyles{
    <style>
        [v-cloak] {
            display: none;
        }

    </style>
}

<section class="container pt-5 mt-5 bg-secondary" id="app">
    <router-view></router-view>
</section>
@section jsScripts{
    <environment include="development">
        <script src="/reactors/docsreactor.js" asp-append-version="true"></script>
    </environment>
    <environment include="production">
        <script src="/reactors/docsreactor.min.js" asp-append-version="true"></script>
    </environment>
 
}
